#previousPageButton {
  float:left !important;
  padding-right: 10px;
}
form li {
  padding-top 10px!important;
  padding-bottom 25px!important;
}
.pgStyle1 b {
  font-size: 100% !important;
}
button.link:hover {
  color: #ee4c9b !important;
}

button.link {
  color: #00abc9 !important;
}

/*
Likert Formatting
*/
.likert caption {
font-size: 120% !important;
font-weight: bold !important;
}
.likert tbody th label {
  font-weight: normal !important;
}
.likert tbody th label {
  font-size: 100%!important;
}

/* 
Input fields
*/
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
